footer {
    background-color: $footer-color;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 23vh;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;

        &__logo {
            color: $font-color-secondary;
            font-size: 48px;
        }

        &__text {
            color: $font-color-secondary;
        }

        &__container {}

        &__copy {
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 38px;
            text-align: right;
            white-space: nowrap;
            color: $font-color-secondary;
        }
    }



}