footer {
    background-color: $footer-color;

}


.footer {
    display: flex;
    flex-direction: column;

    height: 23vh;
    width: 100%;

    .container {
        width: 100%;
    }

    &__logo {
        color: $font-color-secondary;
        font-size: 40px;
    }

    &__text {
        color: $font-color-secondary;
        font-weight: 300;
    }

    &__copy {
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 38px;
        text-align: right;
        white-space: nowrap;
        color: $font-color;
        font-weight: 300;
        text-align: left;

        margin: 10px 0;

    }

    #upper {
        height: 50%;
        width: 100%;

        padding: 10px 0;

        background-color: $primary;
    }

    #lower {
        height: 50%;
        width: 100%;

        background-color: $secondary;

        display: flex;
        align-items: flex-end;
    }
}