//Main colors
$primary: #144bc3;
$secondary: #fbce14;

//Font colors
$font-color: #000;
$font-color-secondary: #fff;
$font-color-grey: #606060;

//Background
$background: #fff;
$container-color: #F5F5F5;
$footer-color: #144bc3;

//Active
$active: #144bc3;

//Other
$orange: #F04037;
