//Main colors
$primary: #259245;
$secondary: #FFC500;

//Font colors
$font-color: #000;
$font-color-secondary: #fff;
$font-color-grey: #606060;

//Background
$background: #fff;
$container-color: #F5F5F5;
$footer-color: #009A5A;

//Active
$active: #000;

//Other
$orange: #F04037;
